
<%= form_for(@micropost) do |f| %>
  <%= render 'share/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Comment..." %>
  </div>
  <%= f.submit "Dang bai", class: "btn btn-primary" %>
<% end %>