<li>
  <%= avatar_user(user,50) %> 
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %> | 
    <%= link_to "Xoa", user, method: :delete, 
                            data: { confirm: "Ban chac chan muon xoa?"} %>
  <% end %>
</li>