<!-- Set title and button text -->
<% provide(:title, "Edit user") %>
<% provide(:button_text, "Luu thay doi")%>

<div class="edit-user">
  <h1>Cap nhat thong tin</h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@user) do |f| %>

        <%= render 'fields', f:f %>
        
        <%= f.submit yield(:button_text), class: "btn btn-primary btn-edit" %>

      <% end %>

      <div class="avatar_edit">
        <%= avatar_user @user %>
        <a href="http://gravatar.com/emails" target=_blank>Change</a>
      </div>

    </div>
  </div>
</div>