<!-- Set title -->
<% provide(:title, 'Danh sach thanh vien') %>

<div class="list-user">
  <h1>Danh sach thanh vien</h1>
  <div class="top-pagination">
    <%= will_paginate @user %>
  </div>
  <ul class="users">
    <% @user.each do |user| %>
      <%= render user %>
    <% end %>
  </ul>
  <div class="bottom-pagination">
    <%= will_paginate @user %>
  </div>
</div>