
<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-4">
    <section class="user_info">
      <%= avatar_user(@user, 80) %>
      <%= @user.name %>
    </section>
  </div>
</div>