@import "bootstrap-sprockets";
@import "bootstrap";

.app-border {
  padding-left: 0px;
  padding-right:0px;
}

.footer-details {

}

.content {
  padding-left: 0px;
  padding-right: 0px;
}

.support .title {
  font-size: 20px;
  border-bottom: 1px solid #E6E8EA;
}

.footer {
  clear: both;
  margin-top: 20px;
  border-top: 1px solid #E7E7E7
}

.footer-details {
  text-align: center;
}

.logo {
  text-align: center;
}

a:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

.logo img {
  width: 80px;
  height: 50px;
}

@mixin box_sizing {
  -moz-box-sizing:
  border-box;
  -webkit-box-sizing: border-box;
  box-sizing:
  border-box;
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* signup */

.signup h1, .login h1, .edit-user h1 {
  text-align: center;
}

.signup .btn-signup, .btn-back {
  float: right;
  margin-left: 5px;
}

.edit-user .btn-edit, .btn-back {
  float: right;
  margin-left: 5px;
}

/* login */
.login p {
  margin-top: 5px;
}

/* checkbox remember */
.check-remember #session_remember_me {
  margin-left: 0px;
}

.check-remember span {
  margin-left: 20px;
}

.avatar_edit {
  margin-top: 60px;
}

.list-user .users {
  list-style: none;
  margin: 0;
}

.list-user .users li {
  overflow: auto;
  padding: 10px 0;
  border-bottom: 1px solid #777;
}

.top-pagination, bottom-pagination {
  text-align: center
}

.forgot-password .btn-mail {
  margin-top: 5px;
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 15px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: #777;
    display: block;
    margin-left: 60px;
  }
  .avatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.micropost_form {
  clear: both;
  margin-top: 20px;
}

#micropost_content {
  width:100%
}

.info-user a {
  float: left;
}

.info-user .details {
  margin-left: 25%;
  padding: 17px;
}