@import "bootstrap-sprockets";
@import "bootstrap";

.app-border {
  padding-left: 0px;
  padding-right:0px;
}

.footer-details {

}

.content {
  padding-left: 0px;
  padding-right: 0px;
}

.support .title {
  font-size: 20px;
  border-bottom: 1px solid #E6E8EA;
}

.footer {
  clear: both;
  margin-top: 20px;
  border-top: 1px solid #E7E7E7
}

.footer-details {
  text-align: center;
}

.logo {
  text-align: center;
}

a:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

.logo img {
  width: 80px;
  height: 50px;
}

@mixin box_sizing {
  -moz-box-sizing:
  border-box;
  -webkit-box-sizing: border-box;
  box-sizing:
  border-box;
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* signup */

.signup h1 {
  text-align: center;
}

.signup .btn-signup, .btn-back {
  float: right;
  margin-left: 5px;
}