<div class="footer">
  <div class="container">
    <div class="footer-details"> 
      <%= link_to "Dieu khoan su dung" %> | 
      <%= link_to "Chinh sach bao mat" %> |
      <%= link_to "Gioi thieu", about_path %>
    </div>
  </div>
</div>  